<form class="{{cssClass}} {{item.type}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
        Header!
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Tabs!</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
        Body!
	</section>

</form>